.project
.metadata
.pydevproject
.idea
.cache
lib
*/__pycache__
**/__pycache__
*/.idea
**/.DS_Store
trash
data_out
**/BAK*
**/*.pyc
**/*.lof
**/*.out
**/*.gz
**/*.toc
**/*.aux
**/*.log
**/*.lot
**/*.html
**/*.htm
Aero/OpenVSP
openMDAO
**/*.ini
**/*.exe
**/*.dll
**/*.txt
**/*.p3d
**/bin/*
**/gmsh
**/su2-windows-latest
**/construct2d
**/~*
**/bin
OpenMDAO1
pyDOE2
venv
pyKriging
**/Website Code November 10
dataIn/setup.ini